<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Data</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" cancelText="Cancelar" doneText="Pronto"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Hora</ion-label>
    <ion-datetime displayFormat="HH:mm" cancelText="Cancelar" doneText="Pronto"></ion-datetime>
  </ion-item>
</ion-content>
